.tabby {
    padding-top: 60px;
}
.graph {
    margin-top: 40px;
    margin-left: 64px;
    margin-right: 64px;
}

.line {
    margin-top: 60px;
    padding-left: 64px;
    padding-right: 64px;
}

.table {
    margin-top: 90px;
    margin-left: 64px;
    margin-right: 64px;
}